# Python artifacts
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual environments
venv/
lune_env/

# Logs and temporary files
*.log
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db
